@import 'src/variables.scss';

$footer-color: $gray-500;
$footer-people-color: $gray-600;
$footer-bg: $navbar-footer-bg;
$footer-height: $nav-link-height + $navbar-padding-y * 2;

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: $footer-height;
}

.scroom-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  text-align: center;
  color: $footer-color;
  background-color: $footer-bg;

  .people {
    color: $footer-people-color;
    font-size: 13px;
  }
}
