@import 'src/variables.scss';

.card-pick {
  background-color: $white;
  border-radius: 6px;
  box-shadow: 0 0 0 3px $black, 0 0 0 6px $white;
  color: $black;
  cursor: pointer;
  font-size: 32px;
  height: 100px;
  line-height: 100px;
  margin: 6px auto 32px;
  position: relative;
  text-align: center;
  vertical-align: center;
  width: 70px;

  @include media-breakpoint-up(sm) {
    margin: 6px 0 32px;
  }

  &.not-selected {
    background-color: $gray-600;
    box-shadow: 0 0 0 3px $gray-800, 0 0 0 6px $gray-600;
    color: $gray-800;
  }
}
