.card-pick {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 0 3px #000, 0 0 0 6px #fff;
  color: #000;
  cursor: pointer;
  font-size: 32px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto 30px;
  position: relative;
  text-align: center;
  vertical-align: center;
  width: 70px;

  &.not-selected {
    opacity: 0.3;
  }
}
