@import 'node_modules/bootstrap/scss/_functions.scss';
@import 'node_modules/bootstrap/scss/_variables.scss';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss';

// Custom

$primary-color: $gray-800;
$secondary-color: $gray-900;
$main-text-color: $white;

$navbar-footer-bg: rgba(0, 0, 0, 0.5);

// Bootstrap

// $navbar-dark-color: $main-text-color;
// $navbar-dark-active-color: $main-text-color;
