@import 'node_modules/bootstrap/scss/_functions.scss';
@import 'node_modules/bootstrap/scss/_variables.scss';

// Custom

$primary-color: #333;
$secondary-color: #222;
$main-text-color: red;

$navbar-footer-bg: rgba(0, 0, 0, 0.5);

// Bootstrap

// $navbar-dark-color: $main-text-color;
// $navbar-dark-active-color: $main-text-color;
